#playermodal.modal.left .modal-dialog {
    position: fixed;
    margin: 10px; padding: 0;
    top: 8em;
    width: calc(20em - 20px);
    height: auto;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
#players_jumplist .box {
    font-size: 10px;
    border-bottom-color: #EEEEEE;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px; padding: 6px;
    width: calc(100% - 20px);
    height: auto;
    z-index: 1000;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
}

#players_jumplist ul {
    font: 10px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#players_jumplist ul li {
}

#players_jumplist ul li a.admin {
    color: red;
}

#locations_jumplist .box {
    border-bottom-color: #EEEEEE;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    margin: 10px; padding: 6px;
    width: calc(100% - 20px);
    height: auto;
    bottom: 0;
    z-index: 1000;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
}

#locations_jumplist ul {
    font: 10px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* */

.modal.left .modal-content {
    height: 100%; padding: 6px;
    overflow-y: visible;
}
.modal.left .modal-content hr {
    padding: 0; margin: 6px;
}

.modal.left .modal-body {
    padding: 15px 15px 80px;
}

.modal.left .base-info,
.modal.left .player-info {
    text-align: center;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.modal-backdrop {
    background-color: transparent;
    display: none;
}

.modal-backdrop {
    background-color: transparent;
    display: none;
}

.modal {
    z-index: 1000;
}