body {
    margin: 0; padding: 0;
}

/* layout */
.flex_layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw; height: 100vh;
    max-width: 1444px;
    display: none;
}

.loading_screen {
    width: 100%; height: 100%;
    z-index: -1;
}

.loading_screen p {
    background-color: #fefefe;
    padding: 1em 5em;
    margin: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border: 1px solid #5cb85c;
    border-radius: 0.5em 2.5em;
}

main {
    flex: 1;
    overflow: auto;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(4, auto);
}

/* make the header neat and full-width */
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    header #info { flex: 1; }
    header #status { flex: 2; }
    header #user { flex: 1; }

/* getting the main div in order: */

main .widget {
    order: 49;
    min-width: 18em;
    overflow: auto;
}

main .dominant {
    order: 0;
    grid-column: 1 / -2;
    grid-row: 1 / -2;
}

main .prominent {
    order: 1;
    grid-row: 1 / 2;
}

main #player_table_widget.prominent {
    grid-row: 1 / -2;
}

main .wide {
    order: 99;
    height: 10em;
    grid-column: 1 / -1;
}

main .shamed {
    display: none;
    visibility: hidden;
}

main #location_radar {
    border: 0;
}

main .widget > table {
    width: 100%; height: 100%;
}

/* make the header neat and full-width */
    footer {
        flex: 1;
    }
/* getting the main div in order: */

