body {
    margin: 0; padding: 0;
    font-size: 15px;
}

/* layout */
#flex_layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw; height: 100vh;
    margin: 0 auto;
}

#loading_screen {
    width: 100%; height: 100%;
    z-index: 1000;
}

#loading_screen p {
    background-color: #fefefe;
    padding: 1em 5em;
    margin: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: 1px solid #5cb85c;
    border-radius: 0.5em 2.5em;
}

main {
    flex: 1;
    overflow: auto;

    display: grid;
    grid-template-columns: auto 16em;
    grid-template-rows: repeat(4, auto) 10em;
}

/* make the header neat and full-width */
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    header #info { flex: 1; }
    header #status { flex: 2; }
    header #user { flex: 1; }

/* getting the main div in order: */

main .widget {
    order: 49;
    overflow: auto;
}


main .full {
    order: 0;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

main .dominant {
    order: 0;
    grid-column: 1 / -2;
    grid-row: 1 / -2;
}

main .prominent {
    order: 1;
    grid-row: 1 / 2;
}

main #player_table_widget.prominent {
    grid-row: 1 / -2;
}

main .wide {
    order: 99;
    grid-column: 1 / -1;
    max-height: 12em;
}

.shamed {
    display: none;
    visibility: hidden;
}

.background {
    opacity: 0.2;
}

main #location_radar {
    border: 0;
}

main .widget > table {
    width: 100%;
}

/* make the footer neat and full-width */
    footer {
        flex: 1;
    }
