/* layout */
body.flex_layout {
    display: flex;
    flex-direction: column;
}

body.flex_layout #content {
    display: flex;
    flex: 1 1 auto;
    overflow-y: auto;
}

#player_table {
    flex: 3;
    overflow: auto;
    overflow-y: auto;
    height: 100%;
}

#widgets {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#system_whitelist_widget {
    flex: 1;
}

#system_banned_players_widget {
    flex: 2;
}

/* make the header neat and full-width */
header {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
}

header #info {
    flex: 1;
}

header #status {
    flex: 2;
    text-align: center;
}

header #user {
    text-align: right;
    flex: 1;
}

footer {
    flex: 1;
}

/* general styling, just a baseline*/
html, body {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
}

table {
    width: 100%;
    border: 0; border-spacing: 0;
}

tr td {
    vertical-align: top;
}

tr th a, tr td a {
    text-decoration: none;
}

tr th a:hover, tr td a:hover {
    text-decoration: underline;
}

table ul {
    padding: 0; margin: 0;
    list-style-type: None;
}

table li {
    padding: 0; margin: 0;
}

table li.flat {
    float: left;
    margin-right: 0.66em;
}

table li.flat:last-child {
    float: left;
    margin-right: 0;
}

table li.seperator {
    margin-top: 0.5em;
    clear: left;
}

/* specific styles */
tr th {
    text-align: left;
    background: #666666;
    color: #cccccc;
    height: 1.66em;
}

header {
    height: 2.66em; line-height: 1.33em;
    background: #ffffff linear-gradient(#acacac, #acacac 50%, #bdbdbd 50%);
}

footer {
    text-align: right;
    height: 1.33em; line-height: 1.33em; max-height: 1.33em;
    background: #acacac;
}

/* player table */
#player_table tr:nth-child(even) {
    background-color: #fcfcfc;
}

#player_table tr:nth-child(odd) {
    background-color: #cccccc;
}

#player_table tr.online {
    background-color: #ccffcc;
}

#player_table tr:nth-child(odd) .online {
    background-color: #ccfccc;
}


/* player location widget */
[id^=plw_] .is_outside {
    background-color: #eeeeee;
}

[id^=plw_] .is_inside {
    background-color: #ddffdd;
}

[id^=plw_] .is_inside_core {
    background-color: #aaffaa;
}
