/* layout */
body {
    background-color: #cecece;
}

#player_table {
    margin: 6px 6px 6px 6px;
    background-color: #ffffff;
}

#widgets form {
    display: flex;
    width: 100%;
}

#widgets form input {
    flex: 4;
}

#widgets form button {
    flex: 1;
}

#system_whitelist_widget {
    margin: 6px 6px 6px 0;
    background-color: #ffffff;
}

#system_banned_players_widget {
    margin: 0px 6px 6px 0;
    background-color: #ffffff;
}

#command_log_widget {
    margin: 0px 6px 6px 6px;
    background-color: #ffffff;
}

/* make the header neat and full-width */
header #status {
    text-align: center;
}

header #user {
    text-align: right;
}

/* general styling, just a baseline*/
table {
    width: 100%;
    border: 0; border-spacing: 0;
}

tr td {
    vertical-align: top;
}

tr th a, tr td a {
    text-decoration: none;
}

tr th a:hover, tr td a:hover {
    text-decoration: underline;
}

a.active {
    font-weight: bold;
}

.center {
    text-align: center;
}

.nlb {
    white-space: nowrap;
}

table ul {
    padding: 0; margin: 0;
    list-style-type: None;
}

table li {
    padding: 0; margin: 0;
}

table li.flat {
    float: left;
    margin-right: 0.66em;
}

table li.flat:last-child {
    float: left;
    margin-right: 0;
}

table li.seperator {
    margin-top: 0.5em;
    clear: left;
}

/* specific styles */
tr th {
    text-align: left;
    background: #666666;
    color: #cccccc;
    height: 1.66em;
}

header {
    height: 2.66em; line-height: 1.33em;
    background: #ffffff linear-gradient(#acacac, #acacac 50%, #bdbdbd 50%);
}

footer {
    text-align: right;
    height: 1.33em; line-height: 1.33em; max-height: 1.33em;
    background: #acacac;
}

/* player table */
#player_table tr:nth-child(even) {
    background-color: #fcfcfc;
}

#player_table tr:nth-child(odd) {
    background-color: #cccccc;
}

#player_table tr.online {
    background-color: #ccffcc;
}

#player_table tr:nth-child(odd) .online {
    background-color: #ccfccc;
}


/* player location widget */
[id^=plw_] .is_outside {
    background-color: #eeeeee;
}

[id^=plw_] .is_inside {
    background-color: #ddffdd;
}

[id^=plw_] .is_inside_core {
    background-color: #aaffaa;
}

/* player permision widget */
[id^=ppw_] {
    padding: 0.5em 1em;
    cursor: pointer;
}

[id^=ppw_] > li {
    display: inline-block;
}

[id^=ppw_] a {
    background-size: 16px;
    text-indent: -9999px;
    display: block;
    width: 16px;
    height: 16px;
    opacity: 0.33;
}

[id^=ppw_] a.active {
    opacity: 1;
}

[id^=ppw_] a:hover,
[id^=ppw_] a.active:hover {
    opacity: 0.66;
}


[id^=ppw_] .admin a {
    background-image: url(/static/icons/admin.png);
}

[id^=ppw_] .mod a {
    background-image: url(/static/icons/mod.png);
}

[id^=ppw_] .donator a {
    background-image: url(/static/icons/donator.png);
}

[id^=ppw_] .authenticated a {
    background-image: url(/static/icons/authenticated.png);
}

/* message modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 5px;
    background-color: #fefefe;
    width: calc(100% - 10px);
    left: 5px;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
