# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
# IntelliJ project files
.idea/
venv/
# Unused data-files (** = any directory)
data/**/*.json
# logfiles
data/**/*.log
