<ul id="paw_{{ player_object.steamid }}">
    {% if player_object.is_online %}
    <li class="seperator nlb">
        <form action="/protected/players/kick/{{ player_object.steamid }}/webinterface" method="POST" onsubmit="send_form(this); return false;">
            <input list="kick_reasons" name="reason">
            <datalist id="kick_reasons">
                <option value="you stink :(">
                <option value="you don't stink enough!">
                <option value="too damn friendly...">
                <option value="wrong haircut mate. just wrong!">
            </datalist>
            <button type="submit">kick</button>
        </form>
    </li>
    {% endif %}
    {% if player_object.is_banned == True %}
    <li class="seperator"><a href="/protected/players/unban/{{ player_object.steamid }}" onclick="player_action(this); return false;">unban</a></li>
    {% else %}
    <li class="seperator nlb">
        <form action="/protected/players/ban/{{ player_object.steamid }}/webinterface" method="POST" onsubmit="send_form(this); return false;">
            <input list="ban_reasons" name="reason">
            <datalist id="ban_reasons">
                <option value="you stink :(">
                <option value="you don't stink enough!">
                <option value="too damn friendly...">
                <option value="wrong haircut mate. just wrong!">
            </datalist>
            <button type="submit">ban</button>
        </form>
    </li>
    {% endif %}
    {% if current_user.has_permission_level("admin") %}
    <li class="seperator right"><a href="/protected/players/obliterate/{{ player_object.steamid }}" onclick="player_action(this); return false;">obliterate</a></li>
    {% endif %}
</ul>