<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chrani-bot web-panel</title>
    <link rel="stylesheet" href="assets/style.css"/>
    <link rel="stylesheet" href="assets/modal.css"/>
    {{head|safe}}
    <script src="assets/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div id="header">
        <header>
            <h1>chrani-bot</h1>
            <span class="tagline">hassle-free community!</span>
        </header>
        <div id="user_actions">
            Hello <span class="player_id">{{player_name}}</span><br />
            <span class="logout"><a href="/logout">Logout</a></span>
        </div>
    </div>
    <div id="sidepane">
        {{sidepane|safe}}
    </div>
    <div id="main">
        {{main|safe}}
    </div>
</body>
</html>