    <div id="sidepane">
        <!--<div id="players_jumplist">-->
            <!--<div class="box">-->
                <!--<div class="content"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div id="locations_jumplist">-->
            <!--<div class="box">-->
                <!--<div class="content"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Modal EMPTY&ndash;&gt;-->
        <!--<div class="modal left fade" id="playermodal" role="dialog" tabindex="-1">-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
