<table width="100%">
<tr>
    <th>Name</th>
    <th>EntityID / SteamID</th>
    <th>Authenticated</th>
    <th>Blacklisted</th>
    <th>Online</th>
    <th>Locations</th>
    <th>Groups</th>
    <th>Actions</th>
</tr>
{% for player_object in player_objects_to_list %}
<tr valign="top" class="{{ loop.cycle('odd', 'even') }}">
    <td>{{ player_object.name.decode('utf-8') }}</td>
    <td>({{ player_object.entityid }} / {{ player_object.steamid }})</td>
    <td>{{ player_object.authenticated }}</td>
    <td>{{ player_object.blacklisted }}</td>
    <td>{{ player_object.is_online }}</td>
    <td>{% for player_location in player_locations_to_list[player_object.steamid] %}{{ player_location.name }}<br />{% endfor %}</td>
    <td class="actions">{% for player_group in player_groups_to_list[player_object.steamid] %}{{ player_group }}{% endfor %}</td>
    <td>(<a href="/protected/players/obliterate/{{ player_object.steamid }}">obliterate</a>)</td>
</tr>
{% endfor %}
</table>
