
<tr valign="top" id="opw_{{ player_object.steamid }}" {% if player_object.is_online == True %}class="highlight"{% endif%}>
    <td>{{ player_object.name.decode('utf-8') }}</td>
    <td>({{ player_object.entityid }} / {{ player_object.steamid }})</td>
    <td>{{ player_object.authenticated }}</td>
    <td>{{ player_whitelist_widget }}</td>
    <td>{{ player_locations_widget }}</td>
    <td>{{ player_lcb_widget }}</td>
    <td class="player_permissions_widget">
        {{ player_permissions_widget }}
    </td>
    <td class="player_actions_widget">
        {{ player_actions_widget }}
    </td>
</tr>
