<!doctype html>
<html>
    <head>{% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
        <title>{% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="{{ url_for('static', filename='socketio.js') }}"></script>
        <script src="{{ url_for('static', filename='system.js') }}"></script>
        <script src="{{ url_for('static', filename='system_status_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='player_permissions_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='player_locations_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='obliterate_player_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='system_whitelist_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='system_location_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='player_lcb_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='player_status_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='player_actions_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='player_table_widget.js') }}"></script>
    {% endblock %}
    </head>
    <body>
        <div id="flex_layout" class="shamed">
            <header>
                <div id="info">
                    <a href="/">{% if bot.name %}{{ bot.name }} ({{ bot.bot_version }}){% else %}chrani-bot{% endif %}</a> - webinterface{% if bot.server_settings_dict %}<br />
                    <i>{{ bot.server_settings_dict["ServerName"] }}</i>{% endif %}
                </div>
                <div id="status">{{ system_status_widget }}</div>
                <div id="user">
                    {% if current_user.is_authenticated %}
                    {{ current_user.name }} - <a href="/logout" onclick="player_action(this);">logout</a><br />
                    {% else %}
                    guest - <a href="/login">log in with steam!</a><br />
                    {% endif %}
                    <button class="switch_map_fullscreen">toggle map</button>
                </div>
            </header>
            <main>
                {% block content %}
                <div id="player_table_widget" class="widget dominant">
                    {{ player_table_widget }}
                </div>
                <div id="system_whitelist_widget" class="widget">
                    {{ whitelist_widget }}
                </div>
                <div id="system_banned_players_widget" class="widget">
                    {{ banned_players_widget }}
                </div>
                <div id="command_log_widget" class="widget wide">
                    {{ command_log_widget }}
                </div>
                <div id="player_location_radar_widget" class="widget prominent shamed">
                    {{ player_location_radar_widget }}
                </div>
                {% endblock %}
            </main>
            <footer>
                {% block footer %}
                icons by <a href="https://icons8.com/">icon8</a>, &copy; this page was created in 2018 by <a href="http://chrani.net/">wwevo</a>
                {% endblock %}
            </footer>
        </div>
        <!-- The Modal(s) -->
        <div id="loading_screen">
            <p>Loading...</p>
        </div>
        <div id="messages_modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Action result</h2>
                </div>
                <div class="modal-body">
                    {% block messages %}{% endblock %}
                </div>
                <div class="modal-footer">
                    <h3>Modal Footer</h3>
                </div>
            </div>
        </div>
    </body>
</html>

