{% if player_objects_to_list %}
<table width="100%">
<tr>
    <th>Name</th>
    <th>EntityID / SteamID</th>
    <th>Authenticated</th>
    <th>Health</th>
    <th>Actions</th>
</tr>{% for player_object in player_objects_to_list %}
<tr valign="top" class="{{ loop.cycle('odd', 'even') }}">
    <td>{{ player_object.name.decode('utf-8') }}</td>
    <td>({{ player_object.entityid }} / {{ player_object.steamid }})</td>
    <td>{{ player_object.authenticated }}</td>
    <td>{{ player_object.health }}</td>
    <td class="actions"><a href="/protected/players/send/{{ player_object.steamid }}/home" onclick="apicall(this); return false;">send home</a><a href="/protected/players/send/{{ player_object.steamid }}/to/lobby" onclick="apicall(this); return false;">lobby</a><a href="/protected/players/kick/{{ player_object.steamid }}/webinterface" onclick="apicall(this); return false;">kick</a><a href="/protected/players/obliterate/{{ player_object.steamid }}" onclick="apicall(this); return false;">obliterate</a></td>
</tr>{% endfor %}
</table>
{% endif %}