
<div id="bot_status">
    uptime: ({{ bot.uptime }}), execution time: ({{ "{:02.4f}".format(bot.oberservers_execution_time) }}/{{ "{:02.4f}".format(bot.listplayers_interval) }})<br />
    {% if current_user.is_authenticated %}
        the bot is currently
        {% if bot.is_paused == True %}
        <a href="/protected/system/resume" onclick="player_action(this); return false;">paused</a>
        {% else %}
        <a href="/protected/system/pause" onclick="player_action(this); return false;">running</a>
        {% endif %}
        {% if "admin" in current_user.permission_levels %}
        (<a href="/protected/system/shutdown" onclick="player_action(this); return false;">shutdown bot</a>)
        (<a href="/protected/system/reinitialize" onclick="player_action(this); return false;">reinitialize</a>)
        {% endif %}
    {% endif %}
</div>