
<div id="bot_status">
    bot-uptime: ({{ bot.time_running }}s),
    execution time: ({{ "{:02.4f}".format(bot.oberservers_execution_time) }}/{{ "{:02.4f}".format(bot.listplayers_interval) }})
    server-uptime: ({{ bot.server_time_running }}s)<br />
    {% if current_user.is_authenticated %}
        {% if current_user.has_permission_level("admin") or current_user.has_permission_level("mod") %}
            {% if bot.is_paused == True %}
            (<a href="/protected/system/resume" onclick="player_action(this); return false;">resume bot</a>)
            {% else %}
            (<a href="/protected/system/pause" onclick="player_action(this); return false;">pause bot</a>)
            {% endif %}
            (<a href="/protected/system/shutdown" onclick="player_action(this); return false;">shutdown bot</a>)
            (<a href="/protected/system/reinitialize" onclick="player_action(this); return false;">reinitialize</a>)
            (<a href="/protected/system/shutdown/server" onclick="player_action(this); return false;">shutdown server</a>)
        {% endif %}
    {% endif %}
</div>