{% if current_user.is_authenticated %}
<table>
    <thead>
    <tr>
        <th>Whitelist</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            the whitelist is currently
            {% if bot.whitelist.whitelist_active == True %}
            (<a href="/protected/whitelist/deactivate" onclick="player_action(this); return false;">active</a>)
            {% else %}
            (<a href="/protected/whitelist/activate" onclick="player_action(this); return false;">deactivated</a>)
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            add player<br />
            <form action="/protected/whitelist/add/player/player_to_add" method="POST" onsubmit="send_form(this); return false;">
                <input list="players_not_on_whitelist" name="player_to_add" autocomplete="off">
                <datalist id="players_not_on_whitelist">
                {% for player_object in players_not_on_whitelist_list %}
                    <option label="{{ player_object.steamid }} - {{ player_object.name.decode('utf-8') }}" value="{{ player_object.steamid }}">
                {% endfor %}
                </datalist>
                <button type="submit">add</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            players listed but unknown:<br />
            <form action="/protected/whitelist/remove/player/player_to_remove" method="POST" onsubmit="send_form(this); return false;">
                <input list="players_on_whitelist" name="player_to_remove" autocomplete="off" disabled="disabled">
                <datalist id="players_on_whitelist">
                {% for player_steamid in players_on_whitelist_list %}
                    <option value="{{ player_steamid}}">
                {% endfor %}
                </datalist>
                <button type="submit" disabled="disabled">remove</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
{% endif %}